body {
  font-family: 'Roboto', sans-serif;
}

.app {
  padding: 50px;
}

.title {
  margin: 0 0 20px 0;
  font-size: 38px;
  font-weight: 100;
  color: #3498db;
}

.controller {
  display: flex;
  align-items: center;
}

.button {
  background: #3498db;
  border: 0;
  color: white;
  margin-left: 10px;
  padding: 28px 60px;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.input {
  width: 300px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 24px 20px;
  outline: none;
  color: #95a5a6;
  font-weight: 100;
  font-size: 20px;
}

.input.is-palindrome {
  border-color: #1abc9c;
}

.input.isnot-palindrome {
  border-color: #e74c3c;
}

.result {
  font-weight: 300;
  font-size: 18px;
}

.result.is-palindrome {
  color: #1abc9c;
}

.result.isnot-palindrome {
  color: #e74c3c;
}
